a:link {
  text-decoration: none;
  color:#e8f308;
}

a:visited {
  text-decoration: none;
  color: #e8f308;
}

a:hover {
  text-decoration: none;
  color: #e8f308;
}

a:active {
  text-decoration: none;
  color: #e8f308;
}
body {
  background-color: #04f2de;
}
input {
  background-color: #e8f308;
  border: #e8f308 auto;
}
form {
  border-radius: 10px;
  border: #e8f308 auto;
  padding: 4px 10px;
  background-color: #e8f308;
}
input {
  border: 2px solid #e8f308;
  border-radius: 10px;
}
input::placeholder {
  color: #440025;
  border: #e8f308;
  text-align: left;
}
input:focus-visible {
  outline: 0px;
}
li {
  display: inline;
}
p {
  font-size: 0.5em;
  color: #e8f308;
}
.temperaturecontainer {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  margin: 20px auto;
  border: 10px solid #e8f308;
  border-radius: 20px;
  background-color: #440025;
  padding: 10px;
}
.head {
  font-size: 20px;
  text-align: left;
  align-items: center;
}
.magnifyingglass {
  border-radius: 10px;
  border: 2px solid #e8f308;
  font-size: 20px;
  padding: 6px 12px;
  color: #440025;
  background-color: #e8f308;
}
.location {
  border-radius: 10px;
  border: 2px solid #04f2de;
  font-size: 20px;
  padding: 6px 12px;
  color: #fc04e3;
  background-color: #04f2de;
}
.body1 {
  font-size: 20px;
  padding: 20px 0px;
}
.display1 {
  font-size: 18px;
  color: #e8f308;
}
.display2 {
  font-size: 30px;
  font-weight: bold;
  color: #04f2de;
}
.body2 {
  font-size: 50px;
  font-weight: bold;
  color: #04f2de;
}
.clickunits {
  font-size: 15px;
  color: #04f2de;
}
.weatherText {
  font-size: 12px;
  padding: 2px;
  color: #e8f308;
}
.emoji {
  font-size: 40px;
  padding: 0px;
  color: #fc04e3;
}
.day {
  list-style-type: none;
  padding-left: 75px;
  padding-bottom: 15px;
}
.emojis {
  font-size: 17px;
  color: #fc04e3;
}
.weekday {
  font-size: 17px;
  color: #e8f308;
}
.tempweekday {
  font-size: 13px;
  color: #04f2de;
}
