.body {
  background: radial-gradient(circle at 10% 20%, #e8f308 0%, #04f2de 90%);
min-height: 100vh;
}
form {
  border-radius: 10px;
  border: 2px solid #e8f308;
  padding: 4px 10px;
  background-color: #e8f308;
}
input {
  background-color: #e8f308;
  border: 2px solid #e8f308;
  border-radius: 10px;
  font-size:18px;
}
input::placeholder {
  color: #440025;
  border: #e8f308;
  text-align: left;
}
input:focus-visible {
  outline: 0px;
}
li {
  display: inline;
}
p {
  font-size: 0.7em;
  color: #04f2de;
}
p,
.currentPlace {
  margin: 8px 0px;
}
ul,
.day {
  padding: 0;
  margin-left: 0;
}
.activeC {
  color: #04f2de;
  cursor: default;
  text-decoration: none;
}
.activeC:hover {
  text-decoration: none;
  color: #fc04e3;
}
.activeF {
  color: #e8f308;
  cursor: default;
  text-decoration: none;
}
.activeF:hover {
  text-decoration: none;
  color: #fc04e3;
}

.body2 {
  font-size: 50px;
  font-weight: bold;
  color: #04f2de;
}
.buttonCurrentLocation {
  border-radius: 10px;
  border: 2px solid #04f2de;
  font-size: 20px;
  padding: 4px 12px;
  color: #fc04e3;
  background-color: #04f2de;
}
.buttonMagnifyingGlass {
  border-radius: 10px;
  border: 2px solid #e8f308;
  font-size: 20px;
  padding: 4px 12px;
  color: #440025;
  background-color: #e8f308;
}

.cityinput {
  width: 150px;
}
.clickunits {
  font-size: 15px;
  color: #fc04e3;
}
.contentcontainer {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  margin: 20px auto;
  border: 10px solid #e8f308;
  border-radius: 20px;
  background-color: #440025;
   padding: 15px 10px 15px 20px;
}
.currentPlace {
  font-size: 30px;
  font-weight: bold;
  color: #04f2de;
}
.day {
  padding-top: 0px;
  padding-bottom: 34px;
  text-align: center;
  margin-bottom: 0px;
}
.displayDate {
  font-size: 18px;
  color: #e8f308;
}

.emoji {
  font-size: 45px;
  padding: 0px;
  color: #fc04e3;
}
.emojis {
  font-size: 17px;
  color: #fc04e3;
  opacity: 0.9;
}
.github-color {
  color: #fc04e3;
}
.main {
  text-align: center;
}

.temperatureMax {
  font-weight: bold;
}
.temperatureMin {
  opacity: 0.8;
}
.tempweekday {
  font-size: 13px;
  color: #04f2de;
}
.weatherText {
  font-size: 12px;
  padding: 2px;
  color: #e8f308;
}
.weekday {
  font-size: 15px;
  color: #e8f308;
}
