.body {
  background: radial-gradient(circle at 10% 20%, #e8f308 0%, #04f2de 90%);
}
form {
  border-radius: 10px;
  border: #e8f308 auto;
  padding: 4px 10px;
  background-color: #e8f308;
}
input {
  background-color: #e8f308;
  border: 2px solid #e8f308;
  border-radius: 10px;
}
input::placeholder {
  color: #440025;
  border: #e8f308;
  text-align: left;
}
input:focus-visible {
  outline: 0px;
}
li {
  display: inline;
}
p {
  font-size: 0.7em;
  color: #04f2de;
}
.temperaturecontainer {
  font-family: Arial, Helvetica, sans-serif;
  max-width: 500px;
  margin: 20px auto;
  border: 10px solid #e8f308;
  border-radius: 20px;
  background-color: #440025;
  padding: 10px;
}
.head {
  font-size: 20px;
  text-align: left;
  align-items: center;
}
.magnifyingglass {
  border-radius: 10px;
  border: 2px solid #e8f308;
  font-size: 20px;
  padding: 6px 12px;
  color: #440025;
  background-color: #e8f308;
}
.location {
  border-radius: 10px;
  border: 2px solid #04f2de;
  font-size: 20px;
  padding: 6px 12px;
  color: #fc04e3;
  background-color: #04f2de;
}
.body1 {
  font-size: 20px;
  padding: 20px 0px;
}
.display1 {
  font-size: 18px;
  color: #e8f308;
}
.display2 {
  font-size: 30px;
  font-weight: bold;
  color: #04f2de;
}
.emoji {
  font-size: 45px;
  padding: 0px;
  color: #fc04e3;
}
.body2 {
  font-size: 50px;
  font-weight: bold;
  color: #04f2de;
}
.clickunits {
  font-size: 15px;
  color: #fc04e3;
}
.activeC {
  color: #04f2de;
  cursor: default;
  text-decoration: none;
}
.activeC:hover {
  text-decoration: none;
  color: #fc04e3;
}
.activeF {
  color: #e8f308;
  cursor: default;
  text-decoration: none;
}
.activeF:hover {
  text-decoration: none;
  color: #fc04e3;
}
.weatherText {
  font-size: 12px;
  padding: 2px;
  color: #e8f308;
}
.day {
  padding-left: 40px;
  padding-bottom: 35px;
  text-align: center;
}
.emojis {
  font-size: 17px;
  color: #fc04e3;
  opacity: 0.9;
}
.weekday {
  font-size: 15px;
  color: #e8f308;
}
.tempweekday {
  font-size: 13px;
  color: #04f2de;
}
.temperatureMax {
  font-weight: bold;
}
.temperatureMin {
  opacity: 0.8;
}
.github-color {
  color: #fc04e3;
}
#cityinput {
  width: 150px;
}
